form{
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.control-panel{
  display: flex;
  justify-content: end;
  flex-direction: row;
  gap: 4px;
  margin-top: 4px;
}

.form-container{
  display: flex;
  flex-direction: row;

}

form{
  flex: 1 1 auto;
}
